* {
	margin: 0;
	font-size: 100%;
	scroll-behavior: smooth;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
   
}

.titulo-header {
    height: 2cm;
    background-color:black ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5cm;

  
}

.nav-menu {
    display: flex;
    height: 1cm;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav-menu a {
    padding: 2px 10px;
    border-radius: 0.1cm;
    color: black;
    text-decoration: none;
    margin-left: 1%;
    transition: 1s;
}

.nav-menu a:hover {
    background-color:rgba(0, 0, 0, 1);
    padding: 2px 10px;
    border-radius: 0.1cm;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 1%;
    transition: 1s;
}

.box {
    background-image: url(felp22.jpg);
    position: 20cm;
    height: 100vh;
    background-position: 10cm;
    display: flex;
}



.box h1 {
    display: flex;
    width: 50%;
    font-size: 2cm;
    margin-left: 4cm;
    margin-top: 5cm;
}

.box h1 hr {
    height: 50%;
    border: solid black  2px ;
  
}

/* inicio albuns  */


.albuns-BOXE {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-album {
    font-weight: bold;
    margin-top: 1cm;
    font-size: 1cm;
}


.albuns {
    margin-top: 1cm;
    display: flex;
}

.album iframe {
    margin-left: 0.5cm;
    height: 7cm;
    width: 9cm;
}